.input-container::placeholder,
.custom-input,
.form-check-label,
.butt01,
.paragraph2 {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 600; /* Semibold */
}

#div011 {
  height: 600px;
  width: 950px;
  background-color: white;
  border-radius: 24px;
  margin: auto;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

#div021 {
  margin-left: 90px;
}

#div031 {
}

.paragraph11 {
  font-size: 38px;
  font-weight: bolder;
}

.butt01 {
  margin-top: 20px;
  width: 130px;
  height: 50px;
  color: white;
 
}

.input-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(48, 47, 47);
  margin-bottom: 15px;
  padding: 10px;
  width: 320px;
}

.input-icon {
  margin-right: 10px;
}

.custom-input {
  border: none;
  width: 600px;
  outline: none;
}

.custom-input:focus {
  border: none;
  box-shadow: none;
}

.paragraph2 {
  margin-top: 40px;
}

.description-input {
  resize: vertical; /* Allow vertical resizing of textarea */
}

/* Add any additional styling as needed for other elements */
